@model IEnumerable<MTIWebSite.Models.Assignments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects.ProjectTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.ProjectTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Students.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignmentId })
        </td>
    </tr>
}

</table>
