@model MTIWebSite.Models.Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>Project Code</th>
            <th>Project Title</th>
            <th>Assignment Date</th>
        </tr>
        @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProjectCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.Projects.ProjectTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.AssignmentDate)</td>
                </tr>
            }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
